[{:arachne/name :org.arachne-framework/pedestal-assets
  :arachne/schema arachne.pedestal-assets/schema
  :arachne/dependencies [:org.arachne-framework/arachne-pedestal
                         :org.arachne-framework/arachne-assets]}]
